<section id="services" class="services section-bg ">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Servicios</h2>
      <p>Estamos listos para atenderte.</p>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
          <i class="bi bi-briefcase"></i>
          <h4><a href="index.html#">Ventas</a></h4>
          <p>Venta de los mejores repuestos de partes de motor, cajas, transmisiones, piñones, coronas y trenes
            fijos de las marcas de Korea y Japon. A los mejores precios del mercado.</p>
        </div>
      </div>
      <div class="col-md-6 mt-4 mt-md-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
          <i class="bi bi-card-checklist"></i>
          <h4><a href="index.html#">Asesoría</a></h4>
          <p>Le brindamos una asesoría personalidad acerca de nuestros productos, a elegir el mejor repuesto para su
            movilidad.</p>
        </div>
      </div>
      <div class="col-md-6 mt-4 mt-md-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
          <i class="bi bi-bar-chart"></i>
          <h4><a href="index.html#">Delivery</a></h4>
          <p>Compras sin salir de casa, realizamos entregas a domicilio en el menor tiempo posible. </p>
        </div>
      </div>
      <div class="col-md-6 mt-4 mt-md-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
          <i class="bi bi-binoculars"></i>
          <h4><a href="index.html#">Productos</a></h4>
          <p>Contamos con las mejores marcas y calidad de productos del mercado. </p>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Services Section -->
