<section id="portfolio" class="portfolio">
  <div class="container" data-aos="fade-up">

    <!--TITULO -->
    <div class="section-title">
      <h2>NUESTROS PRODUCTOS</h2>
      <p>Los mejores productos y precios.</p>
    </div>
    <!--FIN TITULO-->

    <!--CATEGORIAS-->
    <div class="row" data-aos="fade-up" data-aos-delay="100">
      <div class="col-lg-12 d-flex justify-content-center">
        <ul id="portfolio-flters">
          <li data-filter="*" class="filter-active">Todas las categorias</li>
          <li data-filter=".filter-app">Disco, plato y collarín de embrague</li>
          <li data-filter=".filter-card">Pastilla y zapata de freno</li>
          <li data-filter=".filter-web">Piñon y parte de caja</li>
          <!-- AGREGAR CATEGORIA -->
          <li data-filter=".filter-web">Nueva Categoria</li>
          <!---->
        </ul>
      </div>
    </div>
      <!--FIN CATEGORIAS-->

    <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

      <!-- 1 CATEGORIA-->
      <!--IMG 1-->
      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <img src="assets/img/producto/valeo/DISCO-DE-EMBRAGUE-768x551.png" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>DISCO DE EMBRAGUE</h4>


            <div class="portfolio-links">
              <a href="assets/img/producto/valeo/DISCO-DE-EMBRAGUE-768x551.png" data-gallery="portfolioGallery"
                class="portfolio-lightbox" title="DISCO DE EMBRAGUE"><i class="bx bx-plus"></i></a>

            </div>
          </div>
        </div>
      </div>

       <!--IMG 2-->
      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
          <img src="assets/img/producto/HANSANG/14-HANSANG-PINON-Y-CORONA-768x512.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>PIÑON Y CORONA</h4>

            <div class="portfolio-links">
              <a href="assets/img/producto/HANSANG/14-HANSANG-PINON-Y-CORONA-768x512.jpg"
                data-gallery="portfolioGallery" class="portfolio-lightbox" title="PIÑON Y CORONA"><i
                  class="bx bx-plus"></i></a>

            </div>
          </div>
        </div>
      </div>

        <!--IMG 3-->

      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <img src="assets/img/producto/valeo/PLATO-DE-EMBRAGUE-768x515.png" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>PLATO DE EMBRAGUE</h4>

            <div class="portfolio-links">
              <a href="assets/img/producto/valeo/PLATO-DE-EMBRAGUE-768x515.png" data-gallery="portfolioGallery"
                class="portfolio-lightbox" title="PLATO DE EMBRAGUE"><i class="bx bx-plus"></i></a>

            </div>
          </div>
        </div>
      </div>



      <!--2 CATEGORIA-->
        <!--IMG 4-->
      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <div class="portfolio-wrap">
          <img src="assets/img/producto/SANGSIN/pastilla-hiq.1-2-768x469.png" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>PASTILLA DE FRENO HI-Q</h4>

            <div class="portfolio-links">
              <a href="assets/img/producto/SANGSIN/pastilla-hiq.1-2-768x469.png" data-gallery="portfolioGallery"
                class="portfolio-lightbox" title="PASTILLA DE FRENO HI-Q"><i class="bx bx-plus"></i></a>

            </div>
          </div>
        </div>
      </div>

        <!--IMG 5-->
      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
          <img src="assets/img/producto/HANSANG/PROPULSOR-Y-DESLIZANTE-3-768x636.png" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>PROPULSOR Y DESLIZANTE</h4>

            <div class="portfolio-links">
              <a href="assets/img/producto/HANSANG/PROPULSOR-Y-DESLIZANTE-3-768x636.png"
                data-gallery="portfolioGallery" class="portfolio-lightbox" title="PROPULSOR Y DESLIZANTE"><i
                  class="bx bx-plus"></i></a>

            </div>
          </div>
        </div>
      </div>

        <!--IMG 6-->
      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <img src="assets/img/producto/valeo/IPEX080internet-768x512.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>VOLANTE DE MOTOR BIMASA Y BOMBA</h4>

            <div class="portfolio-links">
              <a href="assets/img/producto/valeo/IPEX080internet-768x512.jpg" data-gallery="portfolioGallery"
                class="portfolio-lightbox" title="VOLANTE DE MOTOR BIMASA Y BOMBA"><i class="bx bx-plus"></i></a>

            </div>
          </div>
        </div>
      </div>



<!--CATEGORIA 3-->
        <!--IMG 7-->
      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <div class="portfolio-wrap">
          <img src="assets/img/producto/SANGSIN/pastilla-severe-duty.1-1-768x523.png" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>PASTILLA DE FRENO HI-Q SEVERE DUTY</h4>

            <div class="portfolio-links">
              <a href="assets/img/producto/SANGSIN/pastilla-severe-duty.1-1-768x523.png"
                data-gallery="portfolioGallery" class="portfolio-lightbox"
                title="PASTILLA DE FRENO HI-Q SEVERE DUTY"><i class="bx bx-plus"></i></a>

            </div>
          </div>
        </div>
      </div>

        <!--IMG 8-->
      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <div class="portfolio-wrap">
          <img src="assets/img/producto/SANGSIN/pastilla-hagen.1-3-768x492.png" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>PASTILLA DE FRENO HAGEN</h4>

            <div class="portfolio-links">
              <a href="assets/img/producto/SANGSIN/pastilla-hagen.1-3-768x492.png" data-gallery="portfolioGallery"
                class="portfolio-lightbox" title="PASTILLA DE FRENO HAGEN"><i class="bx bx-plus"></i></a>

            </div>
          </div>
        </div>
      </div>

        <!--IMG 9-->
      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
          <img src="assets/img/producto/HANSANG/TRENFIJO2-768x690.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>TRENFIJO</h4>

            <div class="portfolio-links">
              <a href="assets/img/producto/HANSANG/TRENFIJO2-768x690.jpg" data-gallery="portfolioGallery"
                class="portfolio-lightbox" title="TRENFIJO"><i class="bx bx-plus"></i></a>

            </div>
          </div>
        </div>
      </div>


    </div>

  </div>
</section>
