<section id="about" class="section-title home thumbnail text-center">
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div data-aos="fade-left" class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="60" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
              <rect width="100%" height="100%" fill="#55595c"/>
              <text x="50%" y="50%" fill="#eceeef" dy=".3em">Equipo</text>
            </svg>
            <div class="card-body">
              <img src="../../../assets/img/nosotros.jpg" alt="" style="width: 100%; height: 100%;">
            </div>
          </div>
        </div>
        <div class="col">
          <div data-aos="zoom-in" class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="60" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
              <rect width="100%" height="100%" fill="#55595c"/>
              <text x="50%" y="50%" fill="#eceeef" dy=".3em">Almacen</text>
            </svg>
            <div class="card-body">
              <img src="../../../assets/img/bodega.jpg" alt="" style="width: 100%; height: 100%;">
            </div>
          </div>
        </div>
        <div class="col">
          <div data-aos="fade-right" class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="60" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
              <rect width="100%" height="100%" fill="#55595c"/>
              <text x="50%" y="50%" fill="#eceeef" dy=".3em">Tienda</text>
            </svg>
            <div class="card-body">
              <img src="../../../assets/img/entrada.jpg" alt="" style="width: 100%; height: 100%;">
            </div>
          </div>
        </div>
        <div class="col">
          <div data-aos="fade-right" class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="60" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
              <rect width="100%" height="100%" fill="#55595c"/>
              <text x="50%" y="50%" fill="#eceeef" dy=".3em">Empresa</text>
            </svg>
            <div class="card-body">
              <img src="../../../assets/img/empresa.jpg" alt="" style="width: 100%; height: 100%;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
