<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center">
    <h1 class="logo me-auto">
      <a routerLink="/inicio"><img src="assets/img/LOGO_IKOMI.png" alt="Logo"></a>
    </h1>

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="nav-link scrollto active" routerLink="/home"><i class='bx bx-home-alt-2 bx-sm'></i> Inicio</a></li>
        <li><a class="nav-link scrollto" routerLink="/pagina1"><i class='bx bxs-business bx-sm'></i>Nosotros</a></li>
        <li><a class="nav-link scrollto" routerLink="/pagina2"><i class='bx bxs-briefcase-alt-2 bx-sm'></i>Servicios</a></li>
        <li><a class="nav-link scrollto" routerLink="/pagina3"><i class='bx bxs-wrench bx-sm'></i>Producto</a></li>
        <li><a class="nav-link scrollto" routerLink="/pagina4"><i class='bx bxs-shield-alt-2 bx-sm'></i>Marcas</a></li>
        <!-- <li><a class="nav-link scrollto" routerLink="/equipo"><i class='bx bxs-user bx-sm'></i>Equipo</a></li> -->
        <li><a class="nav-link scrollto" routerLink="/pagina5"><i class='bx bxs-contact bx-sm'></i> Contáctenos</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
  </div>
</header><!-- End Header -->
